body{font-family: 微软雅黑}
input{outline: none;}
.x-panel .x-panel-top .x-titlebar-title{font-weight: normal;}
.user_info .x-panel-content{background: #f6f6f6;padding-top: 1rem;}
.user_info .x-label-edit{padding: 0.6rem 0;background: #fff;padding: 0 0 0 3%;}
.user_info .x-label-edit label{width: 28%;padding-right: 5px;font-size: 1.1rem;color: #959595;border-bottom: 1px solid #eee;height: 3.6rem;line-height: 3.6rem}
.user_info .x-label-edit .x-edit{font-size: 1.1rem;color: #333;border-bottom: 1px solid #eee;width:72%;height: 3.6rem;line-height: 3.6rem}
.user_info .x-label-edit .dif{display: block;height: 3.6rem;line-height: 3.6rem;}
.user_info .x-label-edit input{background: #fff;border:1px solid #c5ebff;outline: none;padding:0 5px;border-radius: 3px;font-weight: normal;height: 2.4rem;line-height: 2.4rem;width: 90%}
.user_info .x-label-edit input:focus{outline: none;}
.user_info .sub_btn{display: block;width: 40%;margin: 2rem auto 0;height: 2.8rem;line-height: 2.8rem;padding: 0;}
.user_info .label-first{border-top: 1px solid #eee;}
.user_info .label-last{border-bottom: 1px solid #eee;}
.user_info .label-last label{border:none}
.user_info .label-last .x-edit{border:none;}

