body{font-family: 微软雅黑}
.x-panel .x-panel-top .x-titlebar-title{font-weight: normal;}
.edit{background: #f6f6f6}
.edit .x-panel-content{padding: 2rem 3%}
.edit .x-panel-content textarea{border:none;-webkit-appearance:none;padding: 1rem 3%;font-size: 1.1rem;line-height: 1.6rem;background: #fff;min-height: 14rem;}
.edit .x-panel-content .btn{margin: 0 auto;display: block;width: 30%;padding: 0.8rem 0;}
.edit .x-panel-content .btn:hover{background: #2e8ee3;border-color: #2e8ee3}
.edit .x-panel-content .inputBox{border:1px solid #dfdfdf;margin-bottom: 2rem;border-radius:5px;}