.x-panel-content{text-align:center;margin-top:60px;}
.pLogin_btn{display:block;width:40%;height:36px;line-height:36px;border:1px solid #2fa4e7;color:#2fa4e7;margin:0 30% 20px;;text-align:center;border-radius:5px;font-size:16px;}
.x-panel-content label{display:block;margin-bottom:6px;font-size:14px;font-weight:normal;}