body{font-family: 微软雅黑}
.x-panel .x-panel-top .x-titlebar-title{font-weight: normal;padding: 7px 0;}
.x-titlebar .x-titlebar-title.flex5{-moz-box-flex: 6;flex: 6 1 0;}
.x-panel .x-panel-top .x-titlebar-title input{width: 100%;border:none;background: #298fca url(./img/search_icon.png) no-repeat 8px center;background-size: 16px;padding-left: 30px;color: #fff;height: 34px;border-radius: 12px;}
input::-webkit-input-placeholder {
　　color: #fff !important; /* WebKit browsers */
}
input:-moz-placeholder {
　　color: #fff !important; /* Mozilla Firefox 4 to 18 */
}
input::-moz-placeholder {
　　color: #fff !important; /* Mozilla Firefox 19+ */
}
input:-ms-input-placeholder {
　　color: #fff !important; /* Internet Explorer 10+ */
}

.x-panel .x-panel-top .x-titlebar-right a{background: none;border:none;}

/*标题栏*/

.x-panel-content .search_bg{padding: 50px 15%;}
.x-panel-content .search_bg img{width: 100%;height: auto;}

.x-scroll-content .search_list li{background: #fff;padding: 1rem 2%;border-bottom: 1px solid #ededed;}
.x-scroll-content .search_list li .media_study{height:74px;overflow: hidden;;}
.x-scroll-content .search_list li .media_study .media-left{width: 115px;height: 74px;position: relative;overflow: hidden;}
.x-scroll-content .search_list li .media_study .media-left img{width: 115px;height: 74px;}
.x-scroll-content .search_list li .media_study .media-left span{display: block;overflow: hidden;background:url(./img/video.png) no-repeat center center;position: absolute;left: 0;top: 0;z-index: 900;width: 115px;height: 74px;}
.x-scroll-content .search_list li .media_study .media-body{padding: 3px 0;}
.x-scroll-content .search_list li .media_study .media-body .title{padding: 0;font-size: 1.22rem;margin-bottom:8px;height: 24px;line-height: 24px;overflow: hidden;}
.x-scroll-content .search_list li .media_study .media-body .courseTeacher{padding: 0;margin-bottom: 2px}
.x-scroll-content .search_list li .media_study .media-body .courseTeacher label{width: auto;color: #959595;font-size: 1rem;padding-right: 3px;}
.x-scroll-content .search_list li .media_study .media-body .courseTeacher .x-edit{color: #959595;font-size: 1rem;}
.x-scroll-content .search_list li .media_study .media-body .count{padding: 0;}
.x-scroll-content .search_list li .media_study .media-body .count label{width: auto;color: #959595;font-size: 1rem;padding-right: 3px;}
.x-scroll-content .search_list li .media_study .media-body .count .x-edit{color: #1195db;font-size: 1rem;}


